# Ambientes e temporarios
_FORA DO GitHub/
*.log
*.ipk
.DS_Store
._*
Thumbs.db
*.sock
.venv-mac/
.venv-win/
node_modules_mac/
node_modules_win/
__pycache__/
*.pyc

# Backups Privados e Pessoais (Protegidos)
Meus_Backups_Pessoais/
02_BACKUPS_E_DUMPS/Backups_Configuracao_Pessoal/
*.private
*.secret
*.xml
*.pcap
*.env
dados_pessoais.env

# Arquivos Gigantes (>100MB do GitHub)
fontes-kernel-isoladas.tar.gz
07_ARTEFATOS_BUILD_WSL/artefatos/*/fontes-kernel-isoladas.tar.gz


